#main-cotainer{
    width: 100%;
    background-color: #0F4157;
    height: 40px;
    position: relative;
    top: 60px;
}
#container
{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
#ind-div
{
    height: auto;
}
#ind-div :hover{
    border-bottom: 2px solid white;
    color: white;
}
#ind-div>a
{
    color: white;
}
/* #ind-div h4:hover
{
    background-color: #00BFFF;
    color: white;
    transition: 0.35s;
    padding: 5px 0px;
    border-radius: 5px;
} */
