#big-container-feed
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#main-container-feed
{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 70px 1px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    margin-top: 30px;
}
#u-info
{
    display: flex;
    justify-content: space-between;
}
#u-info-detail
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#u-info-detail img
{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
#u-info-detail h3
{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 0px 10px;
}
#u-info-detail>span{
    font-size: 14px;
    color: grey;
}
#ellipsis
{
    align-self: center;
}
#ellipsis i :hover
{
    cursor: pointer;
}
#u-img
{
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
#u-img img
{
    max-width: max-content;
    max-height: 350px;
    object-fit:cover;
    border-radius: 5px;
}
#u-likes
{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}
#u-likes i
{
    font-size: 25px;
    color: #0F4157;
}
#u-likes i:hover
{
    cursor: pointer;
}
