#big-container-feed
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#big-container-feed-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
