#accomolist-big-container
{
    width: 100%;
}
#accomolist-main-container
{
    width: 100%;
    height: auto;
    padding: 40px 0px;
}
/* Add this CSS for the dropdown */
.dropdown-container {
    text-align: end;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .dropdown-container label {
    margin-right: 10px;
  }
  
  .dropdown-container select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .dropdown-container select:focus {
    outline: none;
  }
  
  .dropdown-container select option {
    padding: 5px;
  }
  
  /* Rest of the CSS code remains the same */
  
.hotel-name-heading
{
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}
.hotel-list-styling div img 
{
    margin-right: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 1px;
}