#forget-user-pass-big-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #0F4157,rgba(0, 0, 0, 0.336),#0F4157, rgba(255, 255, 255, 0.329));
    background: linear-gradient(to bottom right, #0F4157, rgba(0, 0, 0, 0.529));
}
#forget-user-pass-main-container{
    width: 50%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px white;
    opacity: 1;
    background-color: white;
    padding: 1px;
}
#forget-user-pass-sub-container{

    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #0F4157;
    border-radius: 10px;
    height: 100%;
}
#forget-user-pass-sub-container>h1{
    font-size: 32px;
    font-weight: bold;
    color: #0F4157;
}
#forget-user-pass-sub-container>h2{
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
    color: #0F4157;
}
#forget-user-pass-sub-container>span{
    color: grey;
    font-size: 18px;
    margin-top: 50px;
}
#forget-user-pass-sub-container>input{
    width: 55%;
    border: 1px solid #0F4157;
    padding: 10px 10px;
    border-radius: 5px;
}
#forget-user-pass-sub-container>p{
    color: red;
    font-size: 14px;
}
#forget-user-pass-sub-container>button{
    width: 55%;
    padding: 10px 10px;
    background-color: #0F4157;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}