#big-container-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
  }
  
  .header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .category {
    margin-bottom: 10px;
  }
  
  .category a {
    text-decoration: none;
    color: #0E4157;
    font-weight: bold;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .range-container {
    display: flex;
    align-items: center;
  }
  
  .range-container input[type='range'] {
    flex: 1;
  }
  
  .range-container span {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .filter-button {
    background-color: #0E4157;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }
  
  .footer {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #0e4157;
  }
  
  .star-row {
    display: flex;
  }
  
  .star {
    font-size: 24px;
    cursor: pointer;
  }
  
  .star.filled {
    color: rgb(235, 235, 15);
  }
  #rat
  {
    margin-right: 240px;
  }