#preview-hotel{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #24262bf5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    
}
#preview-hotel-big-container{
    width: 90%;
    height: max-content;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px white;
}
#preview-close-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
#preview-hotel-details{
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: auto;
    padding: 10px 40px;
    
}
#preview-hotel-details-img{
    width: 48%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview-hotel-details-img>img{
    max-width: 90%;
    max-height: 100%;
    min-height: max-content;
    object-fit: cover;
}
#preview-hotel-all-details{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview-hotel-all-details>div{
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preview-hotel-all-details-row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0F4157;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 13px;
}
#preview-hotel-all-details-row:hover{
    background-color: #0F4157;
    transition: 0.2s;
}
#preview-hotel-details-extras{
    width: 100%;
    color: white;
    padding: 10px 40px;
    font-size: 14px;
}