/* Default styling */

#big-Container {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.15);
    position: fixed;
    top: 0;
    z-index: 999;
    margin: auto;
  }
  
  #small-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    padding: 0px 40px;
    font-family: 'Roboto', sans-serif;
  }
  
  #logo-section {
    display: flex;
    align-items: center;
    width: 20%;
    color: #0F4157;
  }
  #logo-section>h3{
    font-weight: 700 ;
    font-size: 22px;
  }
  #logo-section>img {
    margin-right: 10px;
  }
  
  #search-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    max-height: max-content;
  }
  #search-user-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #search-user-section>input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
  }
  #searched-user-list {
    z-index: 9999;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 45px;
    border-top :none;
    border-bottom :1px solid #0F4157;
    border-right :1px solid #0F4157;
    border-left :1px solid #0F4157;
    transition: 0.3s;
    max-height: 350px;
    overflow-y: auto;
  }
  
  #searched-user-list>div{
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #searched-user-list>div:hover{
    background-color: #0F4157;
    color: white;
    transition: 0.2s;
  }
 #search-icon
  {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    align-content: center;
    color: #0f41577a;
  }
 #search-icon:hover {
    transition: 0.4s;
    color: #0F4157;
    cursor: pointer;
  }
  
#container-personal{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#container-personal-menu{
    transition: 0.2s ease;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container-personal-menu #profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-personal-menu i{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    color: #0F4157;
}
#container-personal-menu #msg{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
    top: -18px;
    right: -20%;
}
#container-personal-menu #notification{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
    top: -18px;
    right: -10%;
}
  
  /* Responsive styling */
  
  @media screen and (max-width: 768px) {
    #small-Container {
      padding: 0 10px;
    }
  
    #logo-section {
      width: 30%;
    }
  
    #search-section {
      width: 40%;
    }
  
    #small-menu {
      width: 30%;
    }
  }
  
  @media screen and (max-width: 480px) {
    #small-Container {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
  
    #logo-section,
    #search-section,
    #small-menu {
      width: 100%;
      margin-bottom: 10px;
    }
  
    #logo-section h3 {
      font-size: 18px;
    }
  
    #search-section input {
      font-size: 14px;
    }
  
    #small-menu-icon{
      font-size: 16px;
    }
  }
  