#big-container-transport-ad
{
    width: 100%;
}
@media (max-width: 768px) {
    #main-container-transport-ad {
      width: 80%;
      padding: 10px 20px;
    }
  }
  
#main-container-transport-ad img
{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
