#big-container
{
    width: 80%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}
#sideBar
{
    width: 30%;
}
#feed-section
{
    width: 50%;
}
#featured-ad
{
    width: 20%;
}