#h-admin-add-hotel-container{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.541);
    border-radius: 8px;
    padding: 10px 15px;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
#h-admin-add-hotel-container-ls{
    width: 48%;

}
#h-admin-add-hotel-container-ls>img{
    max-width: 100%;
    min-width: max-content;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #0F4157;
    margin: auto;
}
#h-admin-add-hotel-container-ls>div{
    width: 100%;
    padding: 10px 15px;
}
#h-admin-add-hotel-container-ls>div>label{
    font-size: 14px;
    font-weight: 500;
    color: #0F4157;
}
#h-admin-add-hotel-container-ls>div>textarea{
    border-radius: 4px;
    border: 1px solid #0F4157;
    width: 100%;
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: 16px;

}
#h-admin-add-hotel-container-rs{
    width: 48%;
}
#add-hotel-container-rs-inputs{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 100%;
    gap: 2px;
}
#add-hotel-container-rs-inputs>label, #add-hotel-container-rs-numbers>label{
    font-size: 14px;
    font-weight: 500;
    color: #0F4157;
}
#num-inpts{
    width: 30%;
}
#add-hotel-container-rs-inputs>input,#add-hotel-container-rs-inputs>select{
    border-radius: 4px;
    border: 1px solid #0F4157;
    width: 100%;
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: 16px;
}
#add-hotel-container-rs-numbers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
#add-hotel-container-rs-inputs>button{
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0F4157;
    color: white;
    font-weight: bold;
}
#add-hotel-container-rs-inputs>button:hover{
    box-shadow: 0 0 5px 1px grey;
    transition: 0.3s;
}