#main-mini-nav-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#main-mini-nav-container #mini-nav-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0f4157d7;
    border-radius: 5px;
}
#mini-nav-container #mini-nav-opt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
}

#mini-nav-container #mini-nav-opt:hover {
    background-color: #0F4157;
    border-radius: 5px;
}
#mini-nav-container #mini-nav-opt a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}
#mini-nav-container #mini-nav-opt a:hover{
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}
#active1{
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}
.div-active{
    background-color: #0F4157;
    border-radius: 5px;
}